@media screen and (max-width: 1100px){
    html{
        body{
            padding: 4rem 8rem;
        }
    }
}

@media screen and (max-width: 1000px){
    html{
        body{
            padding: 2rem;
        }
    }
}

@media screen and (max-width: 900px){
    .App{
        .main{
            grid-template-columns: repeat(2, 1fr);
        }
    }
    html{
        body{
            padding: 5rem 10rem;
        }
    }
}

@media screen and (max-width: 800px){
    .App{
        .main{
            grid-template-columns: repeat(2, 1fr);
        }
    }
    html{
        body{
            padding: 3rem 6rem;
        }
    }
}

@media screen and (max-width: 700px){
    .App{
        .main{
            grid-template-columns: repeat(2, 1fr);
        }
    }
    html{
        body{
            padding: 2rem;
        }
    }
}

@media screen and (max-width: 600px){
    .App{
        .main{
            grid-template-columns: 1fr;
        }
    }
    html{
        body{
            padding: 5rem 10rem;
        }
    }
}

@media screen and (max-width: 500px){
    html{
        body{
            padding: 3rem;
        }
    }
    .header{
        &__categories{
            flex-direction: column;
        }
        &__menu-sign{
            display: block;
        }
    }
}